.homepage {
    background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.68)), url('background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-section {
    position: sticky;
    top: 10px;
    left: 250px;
}

.logo {
    width: 200px;
    height: auto;
}



h1 {
    font-family: 'Miniver';
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-family: "Rye", serif;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 100px;
    position: sticky;

}



.reserve-button {
    background-color: #186DA2;
    color: white;
    margin-bottom: 20px;
    font-size: 1.2rem;
 
}

.order-button {
    background-color: #1F6A40;
    color: white;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.menu-button{
    background-color: #BA7720;
    color: white;
    margin-bottom: 20px;
    font-size: 1.2rem;

}

button:hover {
    opacity: 0.9;
}