/* Main container styling */
.OrderOnline {
    font-family: "Rye", serif;

}

/* Center content and add a max width */
.container {
    max-width: 1000px;
    max-height: 1000px;
    margin: 50px auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}


h2 {
    font-family: 'Miniver';
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-bottom: 2px solid #121212;
}

/* Row styling */
.row1,
.row2,
.row3 {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    align-items: center;
    /* Vertically center items */
    margin: 10px 0;
    padding: 10px;
}


.row1 p,.row2 p,.row3 p{
    font-family: "Courier New", Courier, monospace;
    margin: 10px;
    text-decoration: none;
    /* Removes underline خط اضافی کشیده بود*/
    border: none;
    /* Removes any border */


}




/* Button styling */
.add-button {
    background-color: #4CAF50;
    /* Green background */
    color: white;
    /* White text */
    border: none;
    /* Remove border */
    padding: 5px 10px;
    /* Add padding */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 14px;
    transition: background-color 0.3s ease;
    font-family: "Rye", serif;
    margin-top: 50px;
    margin-left: 20px;
    
}

.add-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

/* Buttons at the bottom */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Bottom buttons styling */
.reserve-button{
        background-color: #186DA2;
            /* Blue background */
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

.home-page-button{
        background-color: #1F6A40;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        }

.menu-button {
    background-color: #BA7720;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-button:hover,
.order-button:hover,
.menu-button:hover {
    opacity: 0.9;
}

